body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/e303f750-21cc-4bc7-94a9-0ffdc04fc3b1/OBMC+Quadrangle+1.jpg?format=2500w');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar-brand img {
    border-radius: 50%;
}